# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Other 
*.pdf
*.sln
*.js
*.tlog
*.log
*.pdb
*.idb
*.vcxproj
*.vcxproj.filters
*.vcxproj.users
*.users

x64/
Debug/
.vs/

Unicode.cpp



*.user

NiceHolidays/NiceHolidays/packs-DESKTOP-VILGIOH\.txt

NiceHolidays/NiceHolidays/clients-DESKTOP-VILGIOH\.txt

NiceHolidays/NiceHolidays/agency\.txt

49949011_533061560548321_5761601196250890240_n\.png

*.png

*.docx
